<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.internous.framepj.model.mapper.MstProductMapper">

	<select id="findByCategoryAndProductName" resultType="jp.co.internous.framepj.model.domain.MstProduct">
	
	SELECT * FROM mst_product
	<where>
		category_id = #{category}
			AND
			<foreach
				collection="keywords"
				item="keyword"
				separator=" OR "
				open="("
				close=")">
				product_name LIKE CONCAT('%', #{keyword}, '%')
			</foreach>
	</where>
		
	</select>
	
	<select id="findByProductName" resultType="jp.co.internous.framepj.model.domain.MstProduct">
	
	SELECT * FROM mst_product
	<where>
		<foreach 
			collection="keywords"
			item="keyword"
			separator=" OR "
			open="("
			close=")">
			product_name LIKE CONCAT('%', #{keyword}, '%')
		</foreach>
	</where>
		
	</select>
	
</mapper>