<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.internous.framepj.model.mapper.TblCartMapper">

	<select id="findByUserId" resultType="jp.co.internous.framepj.model.domain.dto.CartDto">
		SELECT
		    tbl_cart.id, 
		    mst_product.image_full_path, 
		    mst_product.product_name, 
		    mst_product.price, 
		    tbl_cart.product_count,
		    (mst_product.price * tbl_cart.product_count) as subtotal
		FROM
		    tbl_cart, mst_product
		WHERE
		    tbl_cart.user_id = #{userId}
		    AND tbl_cart.product_id = mst_product.id
		ORDER BY
			tbl_cart.updated_at DESC, 
    		tbl_cart.created_at DESC
		
	</select>
	
	<delete id="deleteById">
		DELETE
		FROM
			tbl_cart
		WHERE
			id
		IN
		<foreach item="id" collection="checkedIds" open="(" separator="," close=")">
        	#{id}
    	</foreach>
	</delete>
	
</mapper>